@import "src/styles/variables";

.ui__header-button {
  height: 30px;
  width: 140px;
  color: $navbar-text-color;
  border: none;
  cursor: pointer;
  border-radius: 20px;
  background: $navbar-background-color;
  -webkit-transition: all 0.5s;
  font-size: 18px;
  font-weight: 400;

  &:hover{
    background: $header-button_hover;
    transition: all 0.5s;
  }
}
