@import "src/styles/variables";

.ui__primary-button {
	font-family: Poppins;
	font-weight: 400;
	height: 60px;
	border: none;
	cursor: pointer;
	color: $primary-button_content;
	background: $primary-button_background;
	-webkit-transition: all 0.5s;
	border-radius: 32px;

	&:hover {
		box-shadow: inset 0 -100px 0 0 $primary-button_background-color;
		transition: all 0.5s;
	}

	&:active {
		background-color: $primary-button_active;
		transition: all 0.25s;
		-webkit-transition: all 0.25s;
		box-shadow: none;
	}
}
