@import "src/styles/variables";

.registration-frame__button {
	display: grid;
	justify-content: start;
	align-items: start;
	margin-bottom: 60px;

	> .registration-frame__button_registration {
		height: 60px;
		width: 270px;
		border-radius: 16px;
		font-weight: 600;
	}
}
