@import "_registration-block";
@import "_registration-input";
@import "_registration-button";
@import "_registration-content-block";

.registration-page {
	height: 100%;
	display: grid;
	align-items: center;
	justify-content: center;
}
