@import "_registration-block";
@import "_registration-input";
@import "_registration-button";
@import "_registration-content-block";

.registration-page {
	height: 110%;
	background-color: #021C1E ;
	display: grid;
	align-items: center;
	justify-content: center;
}
