@import "src/styles/variables";

.authorization-page__question-box {
	display: grid;
	grid-template-columns: repeat(2, 1fr);

	> p {
		font-size: 16px;
		color: $text-secondary;
		font-weight: 100;
	}
}
