@import "src/styles/variables";

.navbar-content__button_home {
  margin-right: 2rem;
}

.navbar-content__button_program {
  margin-right: 2rem;
}

.navbar-content__button_description {
  margin-right: 2rem;
}

.navbar-content__button_registration {
  margin-right: 1rem;
}

.navbar-content__button_create_organization {
  background: $navbar-background-color;
  width: 240px;
  margin-left: 6rem;
}
