@import "src/styles/variables";

.home-page__home_block {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.home-page__home-info {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-content: center;
  margin: 30px 0 50px 90px;

  background: $frame-background-color;
  width: 1111px;
  height: 700px;
  border-radius: 16px;
  padding: 20px;

}

.home-page__home_title {
  color: $text-primary;
  text-align: center;
  font-family: Poppins sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;

  margin-top: 95px;
}

.home-page__home-art {
  margin: 30px 0 50px 90px;
}

.home-page__home_description {
  color: $text-primary;
  text-align: center;
  font-family: Poppins sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;

  margin-top: 36px;
}

.home-page__home_venue {
  color: $text-primary;
  text-align: center;
  font-family: Poppins, sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 275;
  line-height: normal;

  margin-top: 16px;
}

.home-page__home-datetime {
  color: $text-primary;
  text-align: center;
  font-family: Poppins, sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 275;
  line-height: normal;

  margin-top: 20px;
}

.home-page__home-datetime span {
  font-weight: 100;
}

.home-page__home_button {
  display: grid;
  justify-content: center;
  align-items: center;

  margin-top: 56px;

  > .home-page__primary-button {
    height: 60px;
    width: 300px;
    border-radius: 16px;
    font-weight: 600;
  }
}

