@import "src/styles/variables";

.auth-page__content-block {
	display: grid;
	align-items: center;
	justify-content: center;
	margin: 0 0 0 160px;

	background: $frame-background-color;
	width: 500px;
	height: 550px;
	border-radius: 16px;

	::placeholder {
		font-weight: 100;
		font-size: 14px;
	}

	> h1 {
		color: $text-primary;
		font-size: 28px;
		padding: 110px 0 0 0;
		font-weight: 200;
		margin-bottom: 40px;
	}

	> span {
		color: $text-primary;
		font-size: 12px;
		font-weight: 100;
	}
}
