@import "_authorization-block";
@import "_authorization-button";
@import "_authorization-input";
@import "_authorization-content-block";

.authorization-page {
	display: grid;
	align-items: start;
	justify-content: center;
}
