@import "_authorization-block";
@import "_authorization-button";
@import "_authorization-input";
@import "_authorization-content-block";

.authorization-page {
	height: 110%;
	background-color: #021C1E ;
	display: grid;
	align-items: start;
	justify-content: center;
}
