@import "src/styles/variables";

.footer-content {
  display: grid;
  padding: 20px 30px 20px 30px;
  grid-template-areas: "a b c";
  align-items: center;
  justify-content: center;

  h1 {
    font-size: 26px;
    font-weight: 400;
    color: $text-primary;
    margin-bottom: 10px;
  }

  span {
    font-size: 22px;
    font-weight: 100;
    color: $text-primary;
  }

  > .footer-venue{
    grid-area: a;
    margin-right: 140px;
  }

  > .footer-organizator{
    grid-area: b;
    margin-right: 120px;
  }

  .footer-contacts {
    grid-area: c;
  }



}
