@import "src/styles/variables";

.description-second-page__description-block {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: start;
  justify-content: end;
  margin: 30px 0 60px 90px;
  padding: 20px;
  height: 650px;
}


.description-second-page__description-desc {
  color: $text-primary;
  text-align: left;
  font-size: 22px;
  font-style: normal;
  font-weight: 275;
  line-height: normal;

  margin-top: 50px;
}

.description-second-page__description-desc span{
  font-size: 32px;
  font-weight: 600;
}

.description-second-page__description-art {
  margin-left: 160px ;
}


