@import "styles/colors";
@import "styles/variables";
@import "styles/authorization-page/authorization-page";
@import "styles/registration-page/registration-page";
@import "styles/home-page/home-page";
@import "styles/description-page/description-page";
@import "styles/navbar/navbar";
@import "styles/footer/footer";
@import "./styles/ui/ui";

.router {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  font-weight: 100;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

div#root {
  height: 100vh;
  background-color: #021C1E;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: 100;
}


@font-face {
  font-family: 'Poppins';
  src: url("fonts/Poppins-Thin.ttf");
  font-weight: 100;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url("fonts/Poppins-Light.ttf");
  font-weight: 200;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url("fonts/Poppins-Regular.ttf");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url("fonts/Poppins-Medium.ttf");
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url("fonts/Poppins-SemiBold.ttf");
  font-weight: 600;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url("fonts/Poppins-Bold.ttf");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}



